deployment:
  kind: DaemonSet

service:
  type: ClusterIP

ports:
  web:
    port: 80
  websecure:
    port: 443

hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet

podSecurityContext:
  runAsNonRoot: false

updateStrategy:
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 0

securityContext:
  runAsUser: 0
  runAsGroup: 0
  runAsNonRoot: false
  capabilities:
    add:
      - NET_BIND_SERVICE

providers:
  kubernetesCRD: {}
  kubernetesIngress: {}
